@use '../../styles/mixins';
@use '../../styles/media';

header {
	background-color: var(--color-red);
	color: var(--color-white);
	height: 60px;
	position: fixed;
	width: 100%;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;

	&.hidden {
		transform: translateY(-100%);
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;

		.logo {
			display: flex;
			column-gap: 10px;
			align-items: center;
			p {
				font-size: 16px;
			}

			@include media.hover {
				color: var(--color-gold);
			}
		}

		nav {
			ul {
				display: flex;
				align-items: center;

				li {
					font-family: 'IBM Plex Sans';
					position: relative;
					transition-duration: var(--transition-duration);
					
					div {

						&.active {
							color: var(--color-gold);
						}
					}

					a {
						display: flex;
						align-items: center;
						justify-content: center;
						column-gap: 8px;
						padding: 0.75em 1.5em;

						@include media.hover {
							color: var(--color-gold);
						}
					}

					div {
						@include mixins.flex-center;
						svg {
							transition-duration: var(--transition-duration);
						}
						&:not(:first-child) {
							width: 100%;
							height: 0;
							background-color: var(--color-red);
							position: absolute;
							left: 0px;
							overflow: hidden;
							transition-timing-function: ease-in-out;
							transition-duration: var(--transition-duration);
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							justify-content: center;
							z-index: 100;
						}
					}

					&.active {
						div:not(:first-child) {
							height: 8.35em;
						}

						svg {
							color: var(--color-gold);
							transform: rotate(180deg);
						}
					}

					&:last-child {
						div:not(:first-child) {
							height: 0;
						}
						svg {
							display: none;
						}
					}
				}
				button {
					@include mixins.reset-button;
				}
			}
		}

		button {
			@include mixins.reset-button;
			@include mixins.square(60px);
			@include media.tablet-above {
				display: none;
			}
			cursor: pointer;

			position: relative;
			&::after {
				@include mixins.abs-center;

				transition-duration: var(--transition-duration);
				content: '';
				width: 50%;
				height: 2px;
				background-color: var(--color-white);
				border-radius: 5px;
				box-shadow: 0 -10px var(--color-white), 0 10px var(--color-white);
			}
			&::before {
				@include mixins.abs-center;

				transition-duration: var(--transition-duration);
				content: '';
				width: 50%;
				height: 2px;
				background-color: var(--color-white);
				border-radius: 5px;
				box-shadow: 0 0 var(--color-white), 0 0 var(--color-white);
			}

			&.open {
				&::after {
					rotate: 45deg;
					background-color: var(--color-gold);
					border-radius: 5px;
					box-shadow: 0 0 var(--color-gold), 0 0 var(--color-gold);
				}
				&::before {
					rotate: -45deg;
					background-color: var(--color-gold);
					border-radius: 5px;
					box-shadow: 0 0 var(--color-gold), 0 0 var(--color-gold);
				}
			}
		}

		.burgerWindow {
			z-index: 2;
			@include media.tablet-above {
				display: none;
			}

			position: absolute;
			width: 100%;
			height: 0;
			opacity: 0;
			background-color: var(--color-red);
			left: 0;
			top: 60px;
			transition-duration: var(--transition-duration);
			overflow: hidden;
			transition: all var(--transition-duration);

			&.open {
				height: fit-content;
				opacity: 1;
			}
			&.close {
				opacity: 0;
				height: 0;
				
				

			}

			ul {
				padding: 1.5625rem 3rem;
				margin: 0;
				li {
					list-style-type: none;
					width: 100%;

					

					div {
						display: flex;
						align-items: center;
						justify-content: space-between;

						&:first-child {
							margin-bottom: 0.625rem;

							svg {
								transition-duration: var(--transition-duration);
							}
						}

						&:last-child {
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							justify-content: flex-start;
							padding: 0 1.875rem;
							height: 0;
							overflow: hidden;
							transition-duration: var(--transition-duration);

							a {
								margin-bottom: 0.625rem;
							}
						}
					}
					&:last-child {
						width: fit-content;

						div {
							margin-bottom: 0;
						}
						svg {
							display: none;
						}
					}
					&:not(:last-child) {
						margin-bottom: 0.625rem;
					}
					&.active {
						div {
							&:first-child {
								color: var(--color-gold);

								svg {
									transform: rotate(180deg);
								}
							}

							&:last-child {
								height: 100px;
							}
						}
					}
				}
			}
		}
	}
}
