@use '../styles/media';
@use '../styles/mixins';

.newsShow, .button {
	display: block;
	@include mixins.reset-button;
	background-color: var(--color-red);
	color: var(--color-white);
	padding: 5px 15px;
	border-radius: var(--border-radius-small);
	border: 1px solid transparent;
	cursor: pointer;
	font-size: 16px;



	@include media.hover {
		background-color: transparent;
		color: var(--color-red);
		border: 1px solid var(--color-red);
	}

	&.none {
		display: none;
	}
}
